  <%- include ('partials/header.ejs') %>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Comunidade</h1>
      <p class="mb-4 pb-0">Descreve sua pergunta, critica e/ou sugestão para proximos lançamentos</p>
      <a href="https://github.com/VitorCostaTI" class="about-btn scrollto" target="_blank">Portifólio GitHub</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Comunidade</h2>
          <p>Compartilhe sua experiencia com nossos clientes.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Localização</h3>
              <address>Limeira - SP</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Telefone</h3>
              <p><a href="tel:+5519920007776">+55 (19) 92000 - 7776</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:vitortecnologia62@gmail.com">vitortecnologia62@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="/save-community" method="post" role="form" class="send-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
            </div>
            <div class="my-5">
              <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
            </div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include ('partials/footer.ejs') %>
