<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CostaTec | Desenvolvimento de Software</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="index.html">Costa<span>Tec</span></a></h1>
        
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Serviços</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <a href="/comunidade" class="licenses scrollto pointer">Comunidade</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Tire seu<br><span>Projeto </span>do papel</h1>
      <p class="mb-4 pb-0">Através de um pequeno investimento você pode acessa-lo na palma da mão</p>
      <a href="https://www.youtube.com/watch?v=E8y3eDUMb4Q" class="glightbox play-btn mb-4"></a>
      <a href="https://github.com/VitorCostaTI" class="about-btn scrollto" target="_blank">Portifólio GitHub</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->

    <section id="about">
      
      <div class="container">
        <div class="section-header">
          <h2>Sobre eu</h2>
          <p>CostaTec soluções em desenvolvimento de Software.</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="/img/about.jpg" alt="about-banner" class="img-fluid img-about">
          </div>

          <div class="col-md-6">
            <div class="details">
              <h2>Desenvolvedor e Web Design</h2>
             
              <p>
                CostaTec Software é uma prestação de serviços em desenvolvimento de aplicações Web, Desktop e Mobile,
                com objetivo de levar as pessoas acesso a tecnologias e tornar possivel a chance de tira-lo do papel
                e leva-lo ao mundo.
              </p>

              <p>
                É uma empresa que entra no mercado trazendo novos processos eficazes para levar tecnologias aos usuários de seus produtos,
                priorizando suas necessidades e requisitos, fazendo da nossa empresa um espaço de reconhecimento pelo comprometimento
                com o resultado final e, principalmente, conhecimento em diversas plataformas tecnológicas
                com segmentos no ramo.
              </p>

            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Serviços</h2>
          <p>Confira nossa galeria de trabalhos</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a href="/img/gallery/1.jpg" class="gallery-lightbox"><img src="/img/gallery/1.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/img/gallery/2.jpg" class="gallery-lightbox"><img src="/img/gallery/2.jpg" class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a href="/img/gallery/3.jpg" class="gallery-lightbox"><img src="/img/gallery/3.jpg" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section><!-- End Gallery Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="/img/skills.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <p>
              Contribuições desenvolvidas no mercado tecnológico em diversos ramos diferentes
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">Front End <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar-front" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Back End <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar-back" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Consultoria <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar-consultoria" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">DataBase <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar-db" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>
            Após entender a dor do cliente, nós do CostaTec entregamos propostas para atender sua necessidade
            com tecnologias pensadas e desenvolvidas especialmente para melhor te atender, 
            pensando nisso nossas produtos são desenvolvidos para:  
          </p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4>Aplicação Web</h4>
              <p>Aplicativo de acesso online onde e quando desejar.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Aplicação Desktop</h4>
              <p>Aplicação local instalado no computador para uso especifico de determinada empresa.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4>Aplicação Mobile</h4>
              <p>Aplicativo android com maior agilidade e controle onde e quando desejar.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4>Projetos licenciados</h4>
              <p>Softwares complexos desenvolvidos pela CostaTec para atender soluçoes de forma eficiente e economica.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= License Section ======= -->
    <section id="licenses" class="section-with-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Aplicações por assinatura</h2>
          <p>Conheça os produtos do CostaTec e aproveite suas vantagens.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Gratuito</h5>
                <h6 class="card-price text-center">R$ 0,00</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Controle de estoque</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Notificações de vencimento</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Aplicação local</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Nicho veterinário</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Código aberto</li>
                  <br>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="standard-access">Adquirir assinatura</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Premium I</h5>
                <h6 class="card-price text-center">R$39,90</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Cadastro e controle de produtos</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Notificação de vencimento</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Web e/ou Desktop</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Suporte online</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Nicho personalizado</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Atualização frequente</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="pro-access">Adquirir assinatura</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Premium Ilimitado</h5>
                <h6 class="card-price text-center">R$99,90</h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Benefícios do Premium I</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Gera ordem de serviço</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Aplicação Mobile</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Integração ao TecWare</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Amostra da empresa na galeria</li>
                  <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Identidade da sua empresa</li>
                </ul>
                <hr>
                <div class="text-center">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#buy-ticket-modal" data-ticket-type="premium-access">Adquirir assinatura</button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal Order Form -->
      <div id="buy-ticket-modal" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Licenses</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="#">
                <div class="form-group">
                  <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                </div>
                <div class="form-group mt-3">
                  <select id="ticket-type" name="ticket-type" class="form-select">
                    <option value="">-- Select Your Ticket Type --</option>
                    <option value="standard-access">Standard Access</option>
                    <option value="pro-access">Pro Access</option>
                    <option value="premium-access">Premium Access</option>
                  </select>
                </div>
                <div class="text-center mt-3">
                  <button type="submit" class="btn">Adquirir assinatura</button>
                </div>
              </form>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </section><!-- End License Section -->

    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>F.A.Q </h2>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-9">

            <ul class="faq-list">

              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1"> Como faço para pedir orçamento? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Você pode entrar em contato comigo através do formulario na sessão de contato ou via Whatsapp.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question"> Trabalha com marketing digital? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Meu serviço de consultoria não atende a divulgação de sua empresa, ele é mais focado pra parte de desenvolvimento em si.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question"> O que é o TecWare? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    TecWare é um mini computador, desenvolvido com objetivo de ser um assistente eletronico em sua empresa, ele atende desde uma simples lista de fazeres até gravação de produtos em seu software(se o seu plano contemplar essa função)
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> Vende software personalizado? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Sim, nossa aplicação por assinatura é mais um de meus serviços, se você tem planos de desenvolvimento de um software seu, entre em contato para montarmos seu orçamento.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"> Tenho um projeto em mente qual melhor meio de contato? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Para um tempo de resposta mais curto e preciso, recomendo o contato via Whatsapp
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question"> Em quanto tempo o software é liberado após sua compra ou assinatura? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    O tempo de entrega é contado a partir do primeiro pagamento e é variado pelo do gênero do software, se for por exemplo nosso sistema por assinatura é de no máximo uma semana, se for landing pages 15 dias, se for sistemas personalizados o prazo pode chegar até 3 meses por conta do tempo de desenvolvimento.
                  </p>
                </div>
              </li>

            </ul>

          </div>
        </div>

      </div>

    </section><!-- End  F.A.Q Section -->

    <!-- ======= Subscribe Section ======= -->
    <section id="subscribe">
      <div class="container" data-aos="zoom-in">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>Se inscreva para ficar por dentro das novidades.</p>
        </div>

        <form method="POST" action="#">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 d-flex">
              <input type="text" class="form-control" placeholder="Insira seu Email">
              <button type="submit" class="ms-2">Inscrever</button>
            </div>
          </div>
        </form>

      </div>
    </section><!-- End Subscribe Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contato</h2>
          <p>Envie uma mensagem por email.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Localização</h3>
              <address>Limeira - SP</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Telefone</h3>
              <p><a href="tel:+5519920007776">+55 (19) 92000 - 7776</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:vitortecnologia62@gmail.com">vitortecnologia62@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Mensagem enviada com sucesso!, obrigado pelo contato</div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include ('partials/footer.ejs') %>
